body {
    font-family: 'Courier New', Courier, monospace;
}
table,th,td {
    border-style: solid;
    border-width: 1px;    
    border-collapse: collapse;
    text-align: center;
    word-break: break-word;
}
caption {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
th {
    height: 40px;
    background-color:lightgreen;
}
th,td {
    width: 150px;
}
th:nth-child(1),td:nth-child(1) {
    width: 100px;
}

tr:nth-child(odd) {
    background-color:lightgrey;
}

.lesson {
    font-weight: bold;
    font-size: 1.2em;
}