h1,h2,h3,h4,h5,h6 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}

h2 {
    text-align: left;
    font-size: 18pt;
}
body {
    font-size: 11pt;
    color: #404040;
    background-color: white;
    font-family: Georgia, Garamond;
    line-height: 1.5;
}

.div-body {
    padding-left: 5pt;
    margin: auto;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.div-usercomment {
    padding-left: 2pt;
    padding-right: 4pt;
    /*margin: auto;*/
    width: fit-content;
}
.copyright {    
    font-family: monospace;
}

.usercomment {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    background-color: #FFFFA8;
    line-height: 1.2;
}

ul.no-bullet {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
