body {
    background-color: #fc3153;
    font-family: 'Courier New', Courier, monospace;
}

#topline {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:3em;
    text-shadow: 0px 2px black;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    text-shadow: 0px 2px black;
}

h1:hover {
    color:rgb(71, 185, 238);
}


.markyellow {
    font-weight: bold;
    color:yellow;
}

.markblue {
    font-weight: bold;
    color:blue;
}